<h1>Edit recipe</h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <p>Title: <input type="text" name="title" value="<%= @recipe.title %>"></p>
    <p>Chef: <input type="text" name="chef" value="<%= @recipe.chef %>"></p>
    <p>Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></p>
    <p>Directions: <input type="text" name="directions" value="<%= @recipe.directions %>"></p>
    <p>Prep Time: <input type="text" name="prep_time" value="<%= @recipe.prep_time %>"></p>
    <p>User Id: <input type="text" name="user_id" value="<%= @recipe.user_id %>"></p>
  <button type-"submit">Edit</button>
</form>